.container {
  margin: 0 auto;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;

  img {
    height: 80px;
    width: 80px;
  }

}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}
