body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16pt;
  color: $secondary;
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 42pt;
  line-height: 0;
}

h2 {
  font-size: 31pt;
  font-weight: 500;
}

h3 {
  font-size: 23pt;
  font-weight: 500;
}

h4 {
  font-size: 18pt;
  font-weight: 400;
}

p {
  font-size: 1em;
  color: $primary;
}

.cta-text {
  font-weight: 600;
  font-size: 18pt;
  padding-top: 95px;
}

.scrolldown-btn {
  font-weight: 500;
  font-size: 1.125em;
}


hero-intro {

  h2{
    line-height: 0.3;
  }
  h3 {
    line-height: 0.3;
  }

}

.container-secondary {
  color: $primary;
}

.testimonials {
  p {
    color: $secondary;
  }
}